/Documentos/CURSOS/CURSOS UDEMY/Curso_de_Machine_learning_A_Z_Pytho_R/cogidos/Machine Learning A-Z (Codes and Datasets)/Part 8 - Deep Learning/Section 40 - Convolutional Neural Networks (CNN)/Python/dataset/test_set/cats/*.jpg
/Documentos/CURSOS/CURSOS UDEMY/Curso_de_Machine_learning_A_Z_Pytho_R/cogidos/Machine Learning A-Z (Codes and Datasets)/Part 8 - Deep Learning/Section 40 - Convolutional Neural Networks (CNN)/Python/dataset/test_set/dogs/*.jpg

/Documentos/CURSOS/CURSOS UDEMY/Curso_de_Machine_learning_A_Z_Pytho_R/cogidos/Machine Learning A-Z (Codes and Datasets)/Part 8 - Deep Learning/Section 40 - Convolutional Neural Networks (CNN)/Python/dataset/training_set/cats/*.jpg
/Documentos/CURSOS/CURSOS UDEMY/Curso_de_Machine_learning_A_Z_Pytho_R/cogidos/Machine Learning A-Z (Codes and Datasets)/Part 8 - Deep Learning/Section 40 - Convolutional Neural Networks (CNN)/Python/dataset/training_set/dogs/*.jpg
